# Notebook for aggregating data from different sources

### Sources:
- DX
- TMDb

In [1]:
import numpy as np
import pandas as pd
from joblib import load, dump
from tmdbv3api import TMDb, Movie

### Establishing a connection with the TMDb API

In [2]:
with open('C:/Users/marku/OneDrive/Skrivebord/TMDBkeys.txt') as keys:
    application_key = keys.readline().strip()
tmdb = TMDb()
tmdb.api_key = application_key
tmdb.language = 'en'
movie = Movie()

In [3]:
data = '../data/'

In [4]:
movie_det = load(data+'movie_details.joblib')

# Combine DX and TMDb

In [5]:
showings = load(data+'showings.joblib')

In [6]:
showtimes = list(showings.loc[:, 'showtime'].dt.strftime('%Y'))
titles = list(showings.loc[:, 'stripped_title'])

In [15]:
%%time
start = time()
append = list()
l = len(showtimes)
for i, year in enumerate(showtimes):
    append.append(movie_det.loc[(movie_det.show_year == year) & (movie_det.title == titles[i])].to_dict(orient='list'))
    if time()-start > 60:
        print(i, '\t/\t', l)
        start = time()
#     if i == 4: break
# Removes the nested list from inside the dict
for i in append:
    for j in i:
        if len(i[j]) == 0: i[j] = np.nan
        else: i[j] = i[j][0]

30106 	/	 1216966
60885 	/	 1216966
91916 	/	 1216966
122548 	/	 1216966
153218 	/	 1216966
184148 	/	 1216966
214744 	/	 1216966
245462 	/	 1216966
276351 	/	 1216966
306515 	/	 1216966
336863 	/	 1216966
367163 	/	 1216966
398010 	/	 1216966
429017 	/	 1216966
460174 	/	 1216966
490974 	/	 1216966
522202 	/	 1216966
553431 	/	 1216966
584211 	/	 1216966
615494 	/	 1216966
646675 	/	 1216966
677590 	/	 1216966
708761 	/	 1216966
739475 	/	 1216966
770592 	/	 1216966
801520 	/	 1216966
832621 	/	 1216966
863701 	/	 1216966
894413 	/	 1216966
924574 	/	 1216966
955471 	/	 1216966
986537 	/	 1216966
1017649 	/	 1216966
1048574 	/	 1216966
1079630 	/	 1216966
1110581 	/	 1216966
1140983 	/	 1216966
1172262 	/	 1216966
1203458 	/	 1216966
Wall time: 39min 32s

In [17]:
append = pd.DataFrame(append)
append.head()

Wall time: 4.66 s

,title,show_year,tmdb_title,tmdb_original_title,tmdb_release_date,tmdb_genre_ids,tmdb_overview,tmdb_original_language,tmdb_popularity,tmdb_vote_count,...,tmdb_id,tmdb_runtime,imdb_id,tmdb_budget,tmdb_production_companies,tmdb_revenue,tmdb_tagline,tmdb_cast,tmdb_crew,tmdb_keywords
0,vaiana,2017,Gone Fishing,Gone Fishing,2017-02-21,"[16, 35, 10402]",Gone Fishing is an animated short featuring th...,en,2.052,22.0,...,444341.0,3.0,tt6467284,0.0,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...",0.0,,"[{'cast_id': 2, 'character': 'Moana (voice)', ...","[{'credit_id': '58b65dcbc3a3680f410045ef', 'de...",{'keywords': []}
1,mamma mia here we go again,2018,Mamma Mia! Here We Go Again,Mamma Mia! Here We Go Again,2018-07-09,"[35, 10749]","Five years after meeting her three fathers, So...",en,15.387,2167.0,...,458423.0,113.0,tt6911608,75000000.0,"[{'id': 923, 'logo_path': '/5UQsZrfbfG2dYJbx8D...",395044706.0,,"[{'cast_id': 2, 'character': 'Sophie Sheridan'...","[{'credit_id': '5bdc90b60e0a26283e002980', 'de...","{'keywords': [{'id': 1200, 'name': 'greece'}, ..."
2,frost 2,2019,Before the Frost,Før frosten,2019-01-10,[18],The film takes place somewhere in the Danish c...,da,2.055,7.0,...,498162.0,104.0,tt7523180,0.0,"[{'id': 235, 'logo_path': '/obOynoztBEhDNfHsDX...",0.0,,"[{'cast_id': 0, 'character': 'Jens', 'credit_i...","[{'credit_id': '5a59dd860e0a267fd100853d', 'de...",{'keywords': []}
3,mamma mia here we go again,2018,Mamma Mia! Here We Go Again,Mamma Mia! Here We Go Again,2018-07-09,"[35, 10749]","Five years after meeting her three fathers, So...",en,15.387,2167.0,...,458423.0,113.0,tt6911608,75000000.0,"[{'id': 923, 'logo_path': '/5UQsZrfbfG2dYJbx8D...",395044706.0,,"[{'cast_id': 2, 'character': 'Sophie Sheridan'...","[{'credit_id': '5bdc90b60e0a26283e002980', 'de...","{'keywords': [{'id': 1200, 'name': 'greece'}, ..."
4,frost 2,2019,Before the Frost,Før frosten,2019-01-10,[18],The film takes place somewhere in the Danish c...,da,2.055,7.0,...,498162.0,104.0,tt7523180,0.0,"[{'id': 235, 'logo_path': '/obOynoztBEhDNfHsDX...",0.0,,"[{'cast_id': 0, 'character': 'Jens', 'credit_i...","[{'credit_id': '5a59dd860e0a267fd100853d', 'de...",{'keywords': []}

In [18]:
dump(append, data+'append.joblib')

['../data/append.joblib']

In [ ]:
append = load(data+'append.joblib')

In [21]:
%%time
showings.reset_index(inplace=True)
showings['tmdb_title'] = append.tmdb_title
showings['tmdb_genre_ids'] = append.tmdb_genre_ids
showings['tmdb_original_language'] = append.tmdb_original_language
showings['tmdb_original_title'] = append.tmdb_original_title
showings['tmdb_overview'] = append.tmdb_overview
showings['tmdb_popularity'] = append.tmdb_popularity
showings['tmdb_release_date'] = append.tmdb_release_date
showings['tmdb_vote_average'] = append.tmdb_vote_average
showings['tmdb_vote_count'] = append.tmdb_vote_count
showings['tmdb_id'] = append.tmdb_id
showings['tmdb_runtime'] = append.tmdb_runtime
showings['tmdb_budget'] = append.tmdb_budget
showings['tmdb_production_companies'] = append.tmdb_production_companies
showings['tmdb_revenue'] = append.tmdb_revenue
showings['tmdb_tagline'] = append.tmdb_tagline
showings['tmdb_cast'] = append.tmdb_cast
showings['tmdb_crew'] = append.tmdb_crew
showings['tmdb_keywords'] = append.tmdb_keywords
showings['imdb_id'] = append.imdb_id

Wall time: 105 ms

In [22]:
dump(showings, data+'showings.joblib')

['../data/showings.joblib']

In [37]:
showings = load(data+'showings.joblib')

In [23]:
showings.isna().sum()

arr_nr                           0
std_movienr                      0
full_title                       0
showtime                         0
sold                             0
room                             0
seats                            0
seats_b                          0
coverage                         0
location                         0
stripped_title                   0
tmdb_title                   82764
tmdb_genre_ids               82764
tmdb_original_language       82764
tmdb_original_title          82764
tmdb_overview                82764
tmdb_popularity              82764
tmdb_release_date            82764
tmdb_vote_average            82764
tmdb_vote_count              82764
tmdb_id                      82764
tmdb_runtime                 87496
tmdb_budget                  82764
tmdb_production_companies    82764
tmdb_revenue                 82764
tmdb_tagline                 82764
tmdb_cast                    82764
tmdb_crew                    82764
tmdb_keywords                82764
imdb_id                      96617
dtype: int64

In [25]:
showings.dropna(subset=['tmdb_title'], inplace=True)

In [27]:
showings.isna().sum()

arr_nr                           0
std_movienr                      0
full_title                       0
showtime                         0
sold                             0
room                             0
seats                            0
seats_b                          0
coverage                         0
location                         0
stripped_title                   0
tmdb_title                       0
tmdb_genre_ids                   0
tmdb_original_language           0
tmdb_original_title              0
tmdb_overview                    0
tmdb_popularity                  0
tmdb_release_date                0
tmdb_vote_average                0
tmdb_vote_count                  0
tmdb_id                          0
tmdb_runtime                  4732
tmdb_budget                      0
tmdb_production_companies        0
tmdb_revenue                     0
tmdb_tagline                     0
tmdb_cast                        0
tmdb_crew                        0
tmdb_keywords                    0
imdb_id                      13853
dtype: int64

In [28]:
dump(showings, data+'showings_dropped_NaN.joblib')

['../data/showings_dropped_NaN.joblib']